body {
    font-family: sans-serif;
    background-color: rgb(242, 242, 243);
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px rgba(128,128,128,0.4);
    border-color: rgb(95, 91, 91);
    border-radius: 9px;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: len;
}

.left-side {
    padding: 10px 20px;
    background-color: #617684;
    color: white;
}

.img {
    width: 100%;
    height: auto;
    padding: 1px;
}

h1{
    text-align: center;
}

.left-side > hr {
    color: white;
}

.left-side> ul {
    font-weight: 300;
}

.right-side {
    padding: 10px 20px 20px 40px;
    grid-template-rows: repeat(4 auto) 1fr;
}

.right-side > p {
    text-align: justify;
    font-weight: 300;
    font-size: 30px auto;
}

.position{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 25px auto;
}


.date{
    text-align: 0px;
    margin-top: 0px;
    margin-bottom: 0.1em;
    font-size: 25px auto;
    font-weight: 300;
}

.desc{
    margin-top: 0px;
    margin-bottom: 0.1em;
    font-size: 25px auto; 
    text-align: justify;
    font-weight: 300;
}

